#temps
.ipynb_checkpoints/
ct/.ipynb_checkpoints/
.dep/
.vscode/
.DS_Store/
__pycache__/
*.pyc
*.pyo
*.log

#mines
*.png
*.jpg
*.jpeg
*.bmp
*.db
*.ttf
*.csv

#credentials
key
id
id.json
gcert.json
token.json